#sql-message {
	display: none
}

#sql-result {
	display: none
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

#sql-search {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 10px;
}

#sql-objects ul {
	list-style: none;
	margin:0;
	padding:0;
}

#sql-objects ul li {
	margin:0;
	padding: 4px;
	padding-left: 12px;
	font-size: 13px;
}

#sql-objects li li:hover {
	background: #f2f2f2;
	border-radius: 3px;
}

#sql-objects > ul ul {
	margin-left: 0px !important;
}

#sql-objects .cat span {
	font-weight: bold
}

.zcontextmenu {
	z-index: 9999;
	min-width: 300px;
	display: none
}

.zcontextmenu .list-group-item {
	padding: 5px 13px;
}

.zcontextmenu .list-group .disabled {
	background: #eee;
	font-weight: bold;
}