#sql-message {
	display: none
}

#sql-result {
	display: none
}

.CodeMirror {
    height: 100px;
}

#sql-search {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
}

#sql-objects ul {
	list-style: none;
	margin:0;
	padding:0;
}

#sql-objects ul li {
	margin:0;
	padding:0;
}

#sql-objects > ul ul {
	margin-left: 20px !important;
}

#sql-objects .cat {
	font-weight: bold
}