.CodeMirror {
    height: 100%;
}

#ide-tree ul {
	list-style: none;
	margin:0;
	padding:0;
}

#ide-tree ul li {
	margin:0;
	padding:0;
	padding-left: 22px;
}

.tree-file {
	background-image: url(/zion/mod/ide/view/img/tree-file.png);
	background-repeat: no-repeat;
	background-position: left top 5px;
}

.tree-folder {
	background-image: url(/zion/mod/ide/view/img/tree-folder.png);
	background-repeat: no-repeat;
	background-position: left top 5px;
}

#content .display-4 {
	padding-top: 10px;
    font-size: 2.0rem;
}

#ide-message {
	display: none
}