header {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 10px;
	height: 60px;
}

.fixed-header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #ccc;	
	padding: 10px;
	min-height: 100px;
	background: #eee;
}

#zion-text {
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}

#zion-text a {
	color: #000;
	text-decoration: none;
}

#module-selector {
	padding: 2px;
	border-radius: 3px;
	margin: 4px;
	margin-left: 20px;
}

header .user-name {
	padding: 10px;
}

.filter-page .card-header {
	cursor: pointer;
}

.filter-page .card-body {
	display: none;
}

.filter-page .card-body .row {
	margin-bottom: 4px;
}

.filter-page .card {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.filter-page .filter-operator,
.filter-page .filter-low,
.filter-page .filter-high {
	margin-bottom: 10px;
	margin-right: 10px;
}

.filter-page .col-sm-3 label {
	text-align: left !important;
    justify-content: left !important;
}

.filter-page .hide-advanced-fields .filter-operator {
	max-width: 40px;
	display: none !important;
}

.filter-page .hide-advanced-fields .filter-high {
	display: none !important;
}

.filter-page .card-header .glyphicon,
.filter-page .card-header .fas
{
    margin-left: 10px;
}

.filter-page .table-sm td {
	font-size: 15px;
}

.view,
.edit,
.view:hover,
.edit:hover
{
	text-decoration: none !important;
}

.row-filter-advanced {
	display: none
}

#button-filter-basic {
	display: none
}

.form-page .row {
	margin-bottom: 10px;
}

label.pk {
	font-weight: bold;
	color: #ffcc00;
}

label.required {
	font-weight: bold;
}

#viewFullText {
	/*
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 80%;
  	max-width: 1200px;
  	*/
  	
  	position: fixed;
  	top: 10px;
  	left: 10px;
  	right: 10px;
  	bottom: 10px;
  	
  	font-size: 14px;
	display: none;
	z-index: 9999999;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#viewFullText > button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#viewFullText > div {
	padding: 20px;
	overflow: auto;
}

#zion-menu-button {
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin: 4px;
	cursor: pointer;
	background: #fff;
}

#zion-menu-button:hover {
	background: #eee;
}

#zion-menu {
	margin-left: -1000px;
	width: 25%;
	max-width: 300px;
	
	border:1px solid #eee;
	
	z-index:10000;
	position: absolute; 
	top:0;
	bottom:0;
	left:0;
	
	background: #fff;
}

#zion-menu ul {
	width: 100%;
	list-style: none;
	margin:0;
	padding:0;
	
	padding-left: 10px;
}

#zion-menu ul li {
	width: 100%;
	margin:0;
	padding:0;
}

#zion-menu ul li a {
	display: block;
	margin:0;
	padding:10px;
	width: 100%;
	background: #fff;
	
	color: #333;
	text-decoration: none;
}

#zion-menu ul li a:hover {
	background: #ccc;	
}