header {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 10px;
	height: 60px;
}

.fixed-header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#content {
	margin-top: 60px;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #ccc;	
	padding: 10px;
	min-height: 100px;
	background: #eee;
}

#zion-text {
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}

#zion-text a {
	color: #000;
	text-decoration: none;
}

#module-selector {
	padding: 2px;
	border-radius: 3px;
	margin: 4px;
	margin-left: 20px;
}

.user-name {
	padding: 10px;
}

.card-body .row {
	margin-bottom: 4px;
}

.filter-operator,
.filter-low,
.filter-high {
	margin-bottom: 10px;
	margin-right: 10px;
}

.col-sm-3 label {
	text-align: left !important;
    justify-content: left !important;
}

.filter-page .card {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hide-advanced-fields .filter-operator {
	max-width: 40px;
	display: none !important;
}

.hide-advanced-fields .filter-high {
	display: none !important;
}

.filter-page .card-header {
	cursor: pointer;
}

.filter-page .card-header .glyphicon {
    margin-left: 10px;
}